<header class="header">
  <button class="open-modal" data-modal-open>Click me</button>

  <button class="open-modal" data-modal-open-hero >Click me</button>
  <button class="open-modal" data-modal-open-first>Click me</button>
  <button class="open-modal" data-modal-open-second>Click me</button>
  <button class="open-modal" data-modal-open-third>Click me</button>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
</header>
